a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: gray;
}

svg {
  width: 80vw;
  height: 50vh;
  display: block;
  margin: auto;
}

path:hover {
  fill: #3FBFB4;
}

path {
  cursor: pointer;
  fill: rgba(33, 165, 137, 1);
  stroke: rgba(255, 255, 255, 1);
}

.state_name_div {
    text-align: center;
    height: 5vh;
}

.state_name_div2 {
    text-align: center;
}

.senator-grid {
  display: inline-grid;
  grid-template-columns: 100fr 100fr;
  grid-auto-flow: column;
  grid-gap: 10px;
}

.senator-card {
  border: 1px dotted gray;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}

.R {
  background-color: lightcoral;
}

.D {
  background-color: lightblue;
}

.I {
  background-color: lightgreen;
}